/* BASE */
html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

/* HEADER/ FOOTER */
.header,
.footer {
    background-color: #333;
    color: #fff;
}

.footer {
    flex-shrink: 0;
}

/* GRID */
.app-grid {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: 1 0 auto;
}

/* MAIN */
.main {
    grid-column: 1/5;
    grid-row: 2/3;
}

/* Main Photo Section */
.photo__grid {
    border: 1px solid #333;
    padding: 20px 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

button, .photo__button {
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SIDEBARS */
.sidebar {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.searchCriteria {
    grid-column: 1/5;
    grid-row: 1/2;
}

.petMatch {
    grid-column: 1/5;
    grid-row: 3/4;
}

/* Pet Match */
.match__input {
    margin-left: auto;
    margin-right: auto;
}

/* DESKTOP STYLES 1000PX > */
@media only screen and (min-width: 1000px){
    .app-grid{
        grid-column-gap: 40px;
        grid-template-columns: 1fr 275px 275px 1fr;
    }

    .main {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .photo__grid {
        max-width: unset;
    }

    .searchCriteria {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .petMatch {
        grid-column: 4/5;
        grid-row: 1/2;
    }
}