/* BASE */
html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* HEADER/ FOOTER */
.header,
.footer {
    color: #fff;
    background: #1abc9c;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    text-align: center;
}

.header__h1 {
    display: inline-block;
    padding: 20px;
    word-wrap: break-word;
    background: black;
    font-size: 40px;
    border: ridge;
    margin-left: auto;
    margin-right: auto;
}

/* Image for header */
.header {
    background-image: url("../images/paw-print-clip-art-transparent-background-19.png");
    background-size: contain;
}
    
.footer {
    flex-shrink: 0;
}

/* Font color and bolding of sidebar form */
.headline, .block {
    color: #1abc9c;
    font-weight: bolder;
}

/* Adding border to sidebar form */
.petMatch{
    border: groove;
    border-color: #1abc9c;
    padding: 5%;
    margin: 10px;
    font-weight: bolder;
}

/* Changing color of buttons */
.submitBtn, #showCriteria {
    background-color:  #1abc9c;
}

/* GRID */
.app-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    flex: 1 0 auto;
}

.app-grid,
.photo__grid {
    min-height: 0;
    min-width: 0;
}

.app-grid > *,
.photo__grid > * {
    min-width: 0;
    overflow: hidden;
}

.photo__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto; 
}


/* MAIN */
.main {
    grid-column: 1/3;
    grid-row: 1/2;
}

/* Main Photo Section */
button, .photo__button {
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Animal Photo Cards */
.animal-div {
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden;
}

.image-div {
    background-color: #BAEAE1;
    height: 200px;
    padding: 10px 0;
    overflow: hidden;
}

.animal-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center; 
}

.info-wrapper {
    font-size: 16px;
}

.animal-info {
    word-wrap: break-word;
}

.email {
    line-height: 1.2;
}


/* SIDEBARS */
.sidebar {
    width: 100%;
}

.petMatch {
    grid-column: 1/3;
    grid-row: 2/3;
}

/* Pet Match */
.match__input {
    margin-left: auto;
    margin-right: auto;
}

/* DESKTOP STYLES 1000PX > */
@media only screen and (min-width: 1000px){
    .app-grid{
        grid-column-gap: 40px;
        padding: 0 40px;
    }

    .photo__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .main {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .sidebar {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}